
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    background-color: rgb(0, 0, 0);
}
header{
    background-color: pink;
}
#tracks {
 list-style: none;
    padding: 0;
    height: 280px; /* Set a fixed height */
    overflow-y:scroll;
    max-width: 800px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    font-size: 18pt;
    padding-top:35px;
    text-align: left;

   
}
#tracks li {
  
    text-align: left;
    padding-bottom: 6px;
    list-style: none;
    

}
#tracks a {
    text-decoration: none;
    color: rgb(255, 231, 231);
}
#tracks li:hover{
    background-color:rgba(219, 164, 189, 0.8) ;
    

}
div #container{
    width: 400px;
    height:400px;
    
    align-items: left;
}

#play{
    height: 20px;
    margin-top:90px;
    display: none;
}
svg{
    width: 30px;
    height: 30px;
}

#selftitled{
    max-width:200px;
}
#songInfoCon{
    margin-right:350px;
}